<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:replace="~{base :: head}">

</head>
<body>
<div class="logo-container mb-3 p-3 d-flex justify-content-between mb-3">
    <span class="logo">Mudi</span>
    <span class="mt-3">
        <a class="text-light" sec:authorize="!isAuthenticated()" href="/login">Login</a>
        <a onclick="document.querySelector('#form-login').submit()" class="text-light" sec:authorize="isAuthenticated()" href="#">Logout</a>
        <form  id="form-login" th:action="@{/logout}" method="post"></form>
    </span>
</div>
<div class="container">
    <h1 class="display-5 fw-bold">Meus Pedidos</h1>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
            <a class="nav-link active" href="/home">Todos</a>
            <a class="nav-link" href="/home/aguardando">Aguardando</a>
            <a class="nav-link" href="/home/aprovado">Aprovado</a>
            <a class="nav-link" href="/home/entregue">Entregue</a>
        </div>
        <a href="/pedido/formulario">
            <button class="btn btn-outline-secondary">Novo</button>
        </a>
    </nav>
    <div class="card mb-4" th:each="pedido: ${pedidos}">
        <th:block th:switch="${#strings.toString(pedido.status)}">
            <div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}"></div>
            <div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}"></div>
            <div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}"></div>
        </th:block>

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-10">
                    <div class="row">
                        <div class="col-md-5">Valor: <span th:if="${pedido.valorProduto} != null"
                                                           th:text="'R$ ' + ${#numbers.formatDecimal(pedido.valorProduto,3,'POINT',2,'COMMA')}"></span>
                        </div>
                        <div class="col-md-7">Data de entrega: <span th:text="${#temporals.format(pedido.dataDeEntrega
                        , 'dd/MMM/yyyy')}"></span></div>
                    </div>
                    <div class="mt-3">Produto</div>
                    <div><input class="form-control" th:value="${pedido.urlProduto}"></div>
                    <div class="mt-3">Descrição</div>
                    <div><textarea class="form-control" th:text="${pedido.descricao}"></textarea></div>
                </div>


                <div class="col-12 col-sm-2">
                    <div class="mt-3">
                        <img class="img-thumbnail" th:src="${pedido.urlImagem}" src=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>